body {
  background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/f85718e8-fc6d-4954-bca0-f5eaf78e0842/51f7805b-fea9-4161-876f-2c8d80027dad/AR-es-20230918-popsignuptwoweeks-perspective_alpha_website_small.jpg);
}

.iniciar-sesion-section {
  background-color: #000000b8;
  width: 400px;
}
